{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {{ form_start(mainForm) }}

    {{ form_widget(mainForm) }}
    <button type="submit">Rechercher</button>
    {{ form_end(mainForm) }}

{% endblock %}
