a{
    text-decoration: none;
}
h1{
    text-align: center;
}
.gauche, .droite{
    display: flex;
    flex-direction: column;
    margin:60px;
}

.GaucheDroite{
    display: flex;

}

.boutonsModifSortie{
    display: flex;
    border-radius: 4px!important;
    margin-left: auto;
    margin-right: auto;
}

.lienBouton, button{
    border-radius: 4px !important;
    text-align: center;
}
.lienBouton a{
    position: center;
    text-decoration: none;
}

.btn-desister {
    color: #fff;
    background-color: salmon;
    border-color: salmon;
    margin: 1px;
}

.btn-afficher {
    color: #fff;
    background-color: mediumorchid;
    border-color: mediumorchid;
    margin: 1px;
}

.btn-inscrire {
    color: #fff;
    background-color: dodgerblue;
    border-color: dodgerblue;
    margin: 1px;
}

.btn-modifier {
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
    margin: 1px;
}

.btn-publier {
    color: #fff;
    background-color: yellowgreen;
    border-color: yellowgreen;
    margin: 1px;
}

.btn-annuler {
    color: #fff;
    background-color: firebrick;
    border-color: firebrick;
    margin: 1px;
}

.lieuAddLieu{
    display: flex;
}

nav{
    text-align: center!important;
}

.bg-color {
    --bs-bg-opacity: 1;
    background-color: aquamarine!important;
}

nav button{
    background-color: #b21f2d;
}

a{
    text-decoration: none;
    color: brown;
}
a:hover{
    text-decoration: none;
}
.navbar-brand{
    font-size: larger;
}
li{
    list-style: none;
}

textarea {
    vertical-align: top;
}

.form-group {
    width:650px !important;
    text-align: justify;
    padding:4px;
}

img{
    margin:4px
}

input, select, textarea{
    border-radius: 4px;
}


/***************style modal pour quand ça marchera ******/
.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}.modal-content {
     position: relative;
     background-color: white;
     padding: 20px;
     margin: auto;
     width: 75%;
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s
 }.close-btn {
      float: right;
      color: lightgray;
      font-size: 24px;
      font-weight: bold;
  }.close-btn:hover {
       color: darkgray;
   }@-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }@keyframes animatetop {
         from {top:-300px; opacity:0}
         to {top:0; opacity:1}
     }
/*********************/

#global {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

/***************************style profile pic****************************/
.profile-pic, .profile-picc {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}
.profile-pic img, .profile-picc img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    border:black 1px solid;
    z-index: 0;
}
.profile-pic .-label, .profile-picc .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}
.profile-pic span, .profile-picc span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}

