body
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
main{
    padding:60px;
}

a{
    text-decoration: none;
}
h1{
    text-align: center;
}
.gauche, .droite{
    display: flex;
    flex-direction: column;
    margin:60px;
}

.GaucheDroite{
    display: flex;

}

.boutonsModifSortie{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.lienBouton{
    color: black;
    border: 1px solid gray;
    background-color: lightgray;
}
.lieuAddLieu{
    display: flex;
}

nav{
    background-color: aquamarine!important;
    text-align: center!important;
}
a{
    text-decoration: none;
    color: brown;
}
.navbar-brand{
    font-size: larger;
}
li{
    list-style: none;
}

.btn{
    display: flex;
}
textarea {
    vertical-align: top;
}


#global {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}